﻿@model MyLibrary.Models.BookBorrowingModel

<h2>Borrowings</h2>

<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Borrowed Title</th>
            <th>Borrowed on</th>
            <th>Returned on</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var b in Model.BorrowingRows)
            {
                <tr>
                    <td>@b.ReaderFirstName</td>
                    <td>@b.ReaderLastName</td>
                    <td>@b.BookTitle</td>
                    <td>@b.BorrowingDate</td>
                    <td>@b.ReturnDate</td>
                </tr>
            }
        }
    </tbody>
</table>