﻿@model MyLibrary.Models.BooksModel


<h2>Books</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>PublishingYer</th>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var b in Model.BookRows)
            {
                <tr>
                    <td>@b.Title</td>
                    <td>@b.Author</td>
                    <td>@b.PublishingYer</td>
                    <td>@b.Pages</td>
                </tr>
            }
        }
    </tbody>
</table>