﻿@model MyLibrary.Models.ReadersModel

<h2>Readers</h2>

<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Blocked</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var b in Model.ReaderRows)
            {
                <tr>
                    <td>@b.FirstName</td>
                    <td>@b.LastName</td>
                    <td>@b.Blocked</td>
                </tr>
            }
        }
    </tbody>
</table>