﻿@model MyLibrary.Models.BooksModel


<h2>Books</h2>

@using (Html.BeginForm("Books", "Home", FormMethod.Get))
{
    @Html.Label("Title")
    @Html.TextBoxFor(m => m.SearchParams.Title)
    <input type="submit" value="Search" />
}

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>PublishingYer</th>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var b in Model.BookRows)
            {
                <tr>
                    <td>@b.Title</td>
                    <td>@b.Author</td>
                    <td>@b.PublishingYer</td>
                    <td>@b.Pages</td>
                </tr>
            }
        }
    </tbody>


</table>

@using (Html.BeginForm("Books", "Home", FormMethod.Get))
{
    @Html.HiddenFor(m=>m.Next)
    <input type="submit" value="Next" />
}

@using (Html.BeginForm("Books", "Home", FormMethod.Get))
{
    @Html.HiddenFor(m => m.Prev)
    <input type="submit" value="Prev" />
}